body {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    gap: 30px; 
    height: 100vh; 
    font-family: Arial, Helvetica, sans-serif
}

.controls {
    display: grid; 
    grid-template-columns: min-content 1fr min-content; 
    grid-template-rows: repeat(2, 1fr); 
    align-items: space-between;
    width: 600px; 
    column-gap: 20px; 
    row-gap: 5px; 
}

.controls > label {
    font-size: 1.5em;
}

.start-reset {
    grid-column: 3; 
    grid-row: 1 / -1; 
    width: 100px; 
    font-size: 1.5em; 
}

.board {
    width: 600px; 
    height: 600px; 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
}

.message {
    font-size: 1.7em; 
}

.cell {
    font-size: 7em; 
}