body {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    font-family: Arial, Helvetica, sans-serif
}

.controls {
    display: grid; 
    grid-template-columns: 300px 1fr; 
    grid-template-rows: repeat(2, 1fr); 
}

.start-reset {
    grid-column: 2; 
    grid-row: 1 / -1; 
}

.board {
    width: 600px; 
    height: 600px; 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
}

.message {
    font-size: 2em; 
    margin-top: 30px; 
}

.cell {
    font-size: 7em; 
}